<ion-header>
  <ion-toolbar>
    <ion-title>Estas en la pagina de informacion bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="aboutinfo">
    <div class="aboutcontainer">
    <h1 class="titulo">About</h1>
  </div>
    <div class="descripciocontainer"><p class="descripcion">
      Estamos aprendiendo a programar en ionic
    
    </p>
  </div>
<div class="container">
    <ion-button routerLink="/Inicio" class="iniciobutton">
      <div class="iniciotext">Ir a Inicio</div>
    </ion-button>
  </div>
  </div>
</ion-content>
